<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css" crossorigin="anonymous">
    <title>Simple Phone Validation</title>
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 well">
          <h1>Please enter your phone number</h1>
          <form id="phoneNumber" name="phoneNumber" class="form-inline" role="form">
            <div class="form-group col-md-12" style="margin-top: 25px; margin-bottom: 25px;">
              <label for="type" class="sr-only">Number Type</label>
              <label class="radio-inline"><input type="radio" name="type" value="Business">Business</label>
              <label class="radio-inline"><input type="radio" name="type" value="Fax">Fax</label>
              <label class="radio-inline"><input type="radio" name="type" value="Mobile">Mobile</label>
              <label class="radio-inline"><input type="radio" name="type" value="Other">Other</label>
              <label class="radio-inline"><input type="radio" name="type" value="Pager">Pager</label>
              <label class="radio-inline"><input type="radio" name="type" value="Personal">Personal</label>
            </div>
            <div class="col-md-12" style="color: #aaa; font-size: 24px;">
              <div class="form-group">
                <label for="area" class="sr-only">Area Code</label>
                ( <input type="text" name="area" placeholder="Area Code" class="form-control" /> ) -
              </div>
              <div class="form-group">
                <label for="prefix" class="sr-only">Prefix</label>
                <input type="text" name="prefix" placeholder="Prefix" class="form-control" /> -
              </div>
              <div class="form-group">
                <label for="line" class="sr-only">Line Number</label>
                <input type="text" name="line" placeholder="Line Number" class="form-control" />
              </div>
              <button type="submit" class="btn btn-success">Validate</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/form.js"></script>
  </body>
</html>
